Thunar
VirtualBox
dconf
fish
gh
gh
gnome-boxes/sources
gtk-2.0
gtk-3.0
htop
kitty
lazygit
libvirt/storage
neofetch
nvim
pulse
ranger
systemd/user
transmission
xed
xfce4
EOS-greeter.conf
QtProject.conf
eos-update-notifier.first_init
redshifter
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
